@import 'src/constants/colors/__styles.scss';

* {
  padding: 0;
  margin: 0;
}

.menu {
  background-color: $brown;

  .container {
    max-width: 1050px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 5px 20px;

    .burger {
      display: none;
    }

    ul {
      display: flex;
      justify-content: start;

      li {
        color: $light_pink;
        display: block;
        width: 150px;
        list-style-type: none;
        margin-right: 10px;
        font-size: 18px;

        a {
          text-decoration: none;
          font-size: 20px;
          color: $light_pink;

          .inactive {
            color: $light_pink;
          }
        }

        .active {
          color: $hot_pink;
        }


      }
    }

    .switches {
      display: flex;
      justify-content: space-between;
      margin-right: 20px;

      .lang {
        width: 30px;
        height: 15px;
        margin-top: 5px;
        margin-right: 10px;
        cursor: pointer;

        img {
          width: 100%;
        }
      }

      .selected {
        width: 30px;
        height: 15px;
        margin-top: 5px;
        margin-right: 5px;
        box-shadow: 0 0 10px 5px $shadow;


        img {
          width: 100%;
        }
      }

      .logout {
        margin-left: 20px;
        margin-bottom: 10px;
        width: 30px;
        height: 30px;

        a {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

  }

  .mobile {
    display: none;
  }
}

.mobileInactive {
  display: none;
}

@media (max-width: 480px) {
  .menu {
    display: none;

  }
  .mobile {
    display: block;
    width: 80%;
    position: fixed;
    margin-left: 0;
    background-color: $light_pink;
    padding: 20px;
    border-right: 1px solid $brown;
    border-bottom: 1px solid $brown;
    border-bottom-right-radius: 5px;

    ul {
      margin-bottom: 20px;

      li {
        margin-bottom: 10px;
        list-style-type: none;
        font-size: 20px;

        a {
          text-decoration: none;
          color: $hot_pink;
        }
      }
    }

    p {
      font-size: 1.5rem;
      font-weight: bold;
      color: $hot_pink;
      margin-bottom: 10px;

      a {
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        margin-bottom: inherit;
        text-decoration: none;
      }
    }

    ul {
      margin-bottom: 20px;

      li {
        margin-bottom: 10px;
        list-style-type: none;
        font-size: 20px;
        color: $hot_pink;
      }
    }
  }
  .mobileInactive {
    display: none;
  }
}
