$light_pink: #fee2e3;
$hot_pink: #f64e72;
$shadow: rgba(254, 226, 227, 1);
$brown: #715f65;
$light_blue: #BFB9CF;
$blue: #8498af;
$pink: #f5a3b7;
$shadow_blue: rgba(132, 152, 175, 0.93);
$pink_grey: #d7b4b6