.body {
  width: 100vw;
  height: 100vh;
  background-image: url('../../login-background.jpg');
  background-size: cover;
  overflow: hidden;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;

  .loginWindow {
    margin-top: 40px;
    position: fixed;
    padding: 50px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 100px 5px rgba(132, 152, 175, 0.93);
    text-align: center;

    form {
      display: block;
      width: 250px;

      .input {
        box-sizing: border-box;
        margin: 10px auto;
        width: 100%;
        border: 1px solid #8498af;
        padding: 10px;
      }

      button {
        display: inline-block;
        margin: auto;
        width: 100%;
        line-height: 30px;
        padding: 5px;
        background-color: #f5a3b7;
        border: none;
        border-radius: 5px;
        color: #715f65;
        cursor: pointer;
      }
    }

  }
}