.container {
    width: 100vw;
    height: 100vh;
    background-image: 'images/login-bacground.jpg';
    background-size: cover;
    overflow: hidden;
    
  .header {
    background-color: #715f65;
    padding: 30px;
  }
}
